body {
  font-family:'Shrikhand', cursive;
  max-width: 1000px;
  margin: 0 auto;
  max-width: 1000px;
  margin: 0 auto;
  background: #000000;
}

h1 {
color: #ffffff;
font-size: 40px;

}

.item {

}
